@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Kumbh_Sans';
  src:
  url('/Fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ,wght.ttf')
  format('truetype');
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
}

@font-face {
  font-family: 'Orbitron';
  src:
  url('/Fonts/Orbitron/Orbitron-VariableFont_wght.ttf')
  format('truetype');
  font-weight: 400, 500, 600, 700, 800, 900;
}

@font-face {
  font-family: 'Raleway';
  src:
  url('/Fonts/Raleway/Raleway-VariableFont_wght.ttf')
  format('truetype');
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src:
  url('/Fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf')
  format('truetype');
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
  font-style: italic;
}

@font-face {
  font-family: 'DM_Sans';
  src:
  url('/Fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf')
  format('truetype');
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000;
  font-style: normal;
}

@font-face {
  font-family: 'DM_Sans';
  src:
  url('/Fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf')
  format('truetype');
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000;
  font-style: italic;
}

@font-face {
  font-family: 'Quicksand';
  src:
  url('/Fonts/Quicksand/Quicksand-VariableFont_wght.ttf')
  format('truetype');
  font-weight: 300, 400, 500, 600, 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu_Sans_Mono';
  src:
  url('/Fonts/Ubuntu_Sans_Mono/UbuntuSansMono-VariableFont_wght.ttf')
  format('truetype');
  font-weight: 400, 500, 600, 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu_Sans_Mono';
  src:
  url('/Fonts/Ubuntu_Sans_Mono/UbuntuSansMono-Italic-VariableFont_wght.ttf')
  format('truetype');
  font-weight: 400, 500, 600, 700;
  font-style: italic;
}

@font-face {
  font-family: 'Kode_Mono';
  src:
  url('/Fonts/Kode_Mono/KodeMono-VariableFont_wght.ttf')
  format('truetype');
  font-weight: 400, 500, 600, 700;
}

@font-face {
  font-family: 'Ojuju';
  src:
  url('/Fonts/Ojuju/Ojuju-VariableFont_wght.ttf')
  format('truetype');
  font-weight: 200, 300, 400, 500, 600, 700;
}

/* :root {
  --foreground-hex: var(deepBlue);
  --background-start-hex: var(deepBlue);
  --background-end-hex: var(lightGreyBlue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: 255, 255, 255;
    --background-start-hex: 0, 0, 0;
    --background-end-hex: 0, 0, 0;
  }
}

@media (prefers-color-scheme: red) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
* {
  /* border: 1px solid red; */
  font-family: Kumbh_Sans;
  font-weight: 400;
}

body {
  color: #ffffff;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #081521;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: -0.025rem;
  line-height: 1.5;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @keyframes typing {
    0% {
      width: 0;
    }
    25% {
      width: 100%;
    }
    50% {
      width: 100%;
    }
    75% {
      width: 0%;
    }
    100% {
      width:0;
    }
  }

  @keyframes dotdotdot{
    from { width: 0; }
    to { width: 50px; }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #88A0B5; }
  }

  @keyframes fade-in {
    from, to { opacity: 0; }
    50% { opacity: 1; }
  }

  h2.typewriter,
  h2.typewriterMobile,
  h2.dotdot {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    width: 0;
    max-width: fit-content;
  }

  h2.typewriter,
  h2.typewriterMobile {
    border-right: 1px solid #88A0B5;
    animation: 
      typing 10s steps(1000) infinite,
      blink-caret 1s step-end infinite 0s;
  }

  h2.typewriter {
    margin: 24px auto 0 0;
  }
  
  h2.typewriterMobile {
    margin: 0 auto;
  }

  h2.dotdot {
    margin: 0 0 0 0; /* Gives that scrolling effect as the typing happens */
    animation: 
      dotdotdot 4s steps(5) 0s infinite alternate;
  }
}

